$color-primary: #eee;

html{
  min-width: 100%;
  position: relative;
}

body{
  background-color: $color-primary;
  color: darken($color-primary, 70%)
}

.m-text {
    border: solid 2px green;
}

@import "components/login";
