html {
  min-width: 100%;
  position: relative; }

body,
.gg-splash-screen {
  background-color: #eee;
  color: #3c3c3c; }

.gg-login {
  padding-top: 100px; }
  .gg-login .content {
    max-width: 401px;
    margin: auto; }
  .gg-login .gg-card {
    margin-bottom: 50px; }
    .gg-login .gg-card .card-header,
    .gg-login .gg-card .card-body,
    .gg-login .gg-card .card-footer {
      background-color: white;
      border: none; }
    .gg-login .gg-card .card-header {
      text-align: center; }
      .gg-login .gg-card .card-header .logo {
        padding: 30px 0 10px 0; }
      .gg-login .gg-card .card-header .splash-description {
        display: block;
        font-size: 1em;
        color: #999; }
  .gg-login .login-form .login-tools {
    padding: 15px 0; }
    .gg-login .login-form .login-tools .login-forgot-password {
      text-align: right; }
  .gg-login .gg-back {
    font-size: 0.9em; }
