<!-- layout.njk -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Admin Frontend v.1.0.0</title>
  <!--build:css css/main.min.css -->
  <link rel="stylesheet" href="./css/main.css">
  <!-- endbuild -->
</head>
<body>
  {% include "partials/navigation.njk" %}
  {% block content %}{% endblock %}

  <!--build:js js/main.min.js -->
  <script src="./js/jquery.min.js"></script>
  <script src="./js/main.js"></script>
  <!-- endbuild -->

</body>
</html>
