html{
  min-height: 100%;
  position: relative;
}

body{
  background-color: #fff;
  margin-top: 56px;
  margin-bottom: 60px;

  &.gg-splash-screen{
    margin-top: 0px;
    background-color: $color-primary;
    color: darken($color-primary, 70%)
  }

}
