html{
  min-height: 100%;
  position: relative;
}

body{
  background-color: #fff;
  margin-top: 56px;
  margin-bottom: 100px;
  padding-top: 30px;

  &.gg-splash-screen{
    margin-top: 0px;
    background-color: $gray-100;
    color: darken($gray-100, 70%)
  }

}
