//
// dashboard

.dashboard{
  //background-color: orange;
  a{
    text-decoration: none;
    border-radius: 5px;
    display: block;

    &:hover{
      background-color: #333;
      color: white;
    }

    .card{
      background-color: transparent;
      margin-bottom: 30px;
      
      .card-header,
      .card-footer{
        background-color: rgba(#000, 0.2);
        padding: 2px;
      }
      .card-body{
        min-height: 180px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .card-text{
          text-transform: uppercase;
          &.card-month{
            font-size: 1.2em;
          }
          &.card-day{
            font-size: 2em;
            font-weight: 600;
          }
          &.card-list{
            font-size: 1.2em;
          }
        }
      }
    }
  }
}
