//
// heading

.heading{

  margin-bottom: 24px;
  color: #555;

  &.heading-lg{
    padding: 0px 0px 16px 0;
    font-size: 2.4em;
  }
  &.heading-md{
    padding: 0px 0px 16px 0;
    font-size: 1.8em;
  }
  &.heading-sm{
    padding: 0px 0px 16px 0;
    font-size: 1.2em;
  }

  &.heading-border-top{
    border-top: 1px solid #e5e5e5;
  }
  &.heading-border-bottom{
    border-bottom: 1px solid #e5e5e5;
  }

}
