//
// GG ## Login

.gg-login{
  padding-top: 100px;

  .content{
    max-width: 401px;
    margin: auto;
  }

  .gg-card{
    margin-bottom: 50px;

    .card-header,
    .card-body,
    .card-footer{
      background-color: white;
      border: none;
    }

    .card-header{
      text-align: center;
      .logo{
        //width: 200px;
        padding: 30px 0 10px 0;
        //height: 27px;
      }
      .splash-description{
        display: block;
        font-size: 1em;
        color: #999;
      }
    }
  }

  .login-form{

    .login-tools{
      padding: 15px 0;
      .login-remember{}
      .login-forgot-password{
        text-align: right;
      }
    }
    .login-submit{}
  }

  .gg-back{
    font-size: 0.9em;
  }

}
