//
// panel

.panel{
  //background-color: orange;

  .card-btn{
    text-decoration: none;
    //border-radius: 5px;
    color: $gray-700;
    &:hover{
      background-color: $gray-800;
      color: white;
    }
  }

  .card{
    background-color: transparent;
    margin-bottom: 30px;

    .card-header{
      padding: 3px;
    }

    .card-body{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;

      .card-date{
        font-size: 1.1em;
        border-bottom: 1px solid rgba($gray-500, 0.25);
        padding-bottom: 8px;
        width: 100%;
        text-align: center;
        // background-color: green;
      }
      .card-title{
        font-size: 1.4em;
        line-height: 1.2em;
        margin: 0px;
        // background-color: orange;
      }
      .card-list{
        // background-color: red;
        font-size: 1.2em;
        margin: 0px;
        border-top: 1px solid rgba($gray-500, 0.25);
        padding-top: 8px;
        width: 100%;
        text-align: center;
        color: $gray-600;
      }

      &.card-body-lg{
        min-height: 180px;
      }
      &.card-body-md{
        min-height: 160px;
      }
      &.card-body-sm{
        min-height: 130px;
      }
    }
  }
}
