//
// switch
/* The switch - the box around the slider */

$switch-height:     24px !default;
$switch-width:      42px !default;
$button-radius:     18px !default;
$button-translate:  18px !default;
$button-transition: .1s !default;

.switch {
 position: relative;
 display: inline-block;
 width: $switch-width;
 height: $switch-height;
 margin-right: 10px;
 margin-bottom: 0px;
}

/* Hide default HTML checkbox */
.switch input {
  display:none;
}

/* The slider */
.slider {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: #ccc;
 -webkit-transition: $button-transition;
 transition: $button-transition;
}

.slider:before {
 position: absolute;
 content: "";
 height: $button-radius;
 width: $button-radius;
 left: 3px;
 bottom: 3px;
 background-color: white;
 -webkit-transition: $button-transition;
 transition: $button-transition;
}

input:checked + .slider {
 background-color: $success;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
 -webkit-transform: translateX($button-translate);
 -ms-transform: translateX($button-translate);
 transform: translateX($button-translate);
}

/* Rounded sliders */
.slider.round {
 border-radius: $switch-height;
}

.slider.round:before {
 border-radius: 50%;
}
