<!-- index.njk -->
{% extends "layout.njk" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="dashboard">
  <div class="container">

    <section class="panel">
      <nav aria-label="breadcrumb">
	      <ol class="breadcrumb">
	        <li class="breadcrumb-item" aria-current="page">Dashboard</li>
	      </ol>
	    </nav>

      <div class="row">
        <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
          <a href="event-view.html" class="btn btn-lg btn-primary mb-3 p-5 btn-block">
            <i class="fas fa-calendar-alt fa-2x d-block mb-3"></i>
            <h5 class="text-uppercase">Eventos</h5>
          </a>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
          <a href="entry-event.html" class="btn btn-lg btn-warning mb-3 p-5 btn-block">
            <i class="fas fa-clipboard-list fa-2x d-block mb-3"></i>
            <h5 class="text-uppercase">Ingresantes</h5>
          </a>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
          <a href="charts.html" class="btn btn-lg btn-info mb-3 p-5 btn-block">
            <i class="fas fa-chart-area fa-2x d-block mb-3"></i>
            <h5 class="text-uppercase">Analitycs</h5>
          </a>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock %}
