<!-- index.njk -->
{% extends "layout.njk" %}

{% block content %}
<div class="dashboard">
  <div class="container">

    <div class="heading heading-lg  heading-border">
      Dashboard
    </div>

    <section class="panel">

      <div class="heading heading-sm heading-uppercase bg-primary text-light text-center">
        Próximos eventos
      </div>

      <div class="row ">

        <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
          <a href="list-view.html" class="btn-block">
            <div class="card">
              <div class="card-header"></div>
              <div class="card-body card-body-lg">
                <div class="card-text card-month">Junio 2018</div>
                <div class="card-text card-day">Sábado 9</div>
                <div class="card-text card-list">
                  Listas creadas <span class="badge badge-primary">1</span>
                </div>
              </div>
              <div class="card-footer"></div>
            </div>
          </a>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
          <a href="list-view.html" class="btn-block">
            <div class="card">
              <div class="card-header"></div>
              <div class="card-body card-body-lg">
                <div class="card-text card-month">Junio 2018</div>
                <div class="card-text card-day">Sábado 15</div>
                <div class="card-text card-list">
                  Listas creadas <span class="badge badge-secondary">0</span>
                </div>
              </div>
              <div class="card-footer"></div>
            </div>
          </a>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
          <a href="event-add.html" class="btn-block">
            <div class="card bg-primary text-white">
              <div class="card-header"></div>
              <div class="card-body card-body-lg">
                <i class="fas fa-5x fa-plus"></i>
              </div>
              <div class="card-footer"></div>
            </div>
          </a>
        </div>

      </div>
    </section>
  </div>
</div>
{% endblock %}
