{% extends "layout.njk" %}

{% block content %}
<div>
  <div class="container">

    <div class="heading heading-lg heading-border">
      Eventos
    </div>

    <section>

      <div class="heading heading-sm text-uppercase">
        <a href="dashboard.html">EVENTOS /</a> Create
      </div>

      <div class="row ">

        <div class="col-12- col-md-8">

          <div class="heading heading-sm text-uppercase border-bottom">
            Crear evento nuevo
          </div>

          <form id="form">

            <div class="form-group">
              <label for="">Titulo <span class="text-danger">(*)</span> </label>
              <input type="text" name="" id="title" value="" class="form-control">
            </div>

            <div class="row">
              <div class="col-12 col-md-4">
                <div class="form-group">
                  <label for="">Fecha Evento <span class="text-danger">(*)</span></label>
                  <input type="date" name="" id="date" value="" class="form-control">
                </div>
              </div>
              <div class="col-12 col-md-4">
                <div class="form-group">
                  <label for="">Hora Evento</label>
                  <input type="time" name="" value="" class="form-control">
                </div>
              </div>
              <div class="col-12 col-md-4">
                <div class="form-group">
                  <label for="">Fecha Baja</label>
                  <input type="date" name="" value="" class="form-control">
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="">Descripción</label>
              <textarea name="name" rows="4" class="form-control"></textarea>
            </div>

            <div class="text-muted mb-4">
              <span class="text-danger">(*)</span> Campos obligatorios
            </div>

            <a href="./dashboard.html" class="btn btn-secondary">Cancelar</a>
            <button type="button" onclick="validateForm();" class="btn btn-primary btn-lg float-right">Crear</button>


          </form>

        </div>
        <div class="col-12 col-md-4">
          <div class="heading heading-sm text-uppercase border-bottom">
            Próximos eventos
          </div>
          <div class="card mb-4">
            <div class="card-body">
              <p>JUNIO 2018</p>
              <h3 class="card-title">SÁBADO 9</h3>
              <hr>
              <p><a href="#">Listas creadas</a> <span class="badge badge-success">1</span></p>
            </div>
          </div>
          <div class="card mb-4">
            <div class="card-body">
              <p>JUNIO 2018</p>
              <h3 class="card-title">SÁBADO 15</h3>
              <hr>
              <p>Listas creadas <span class="badge badge-secondary">0</span></p>
            </div>
          </div>
        </div>

      </div>
    </section>
  </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
  function validateForm(){

    var title = document.getElementById('title').value.trim();
    var date = document.getElementById('date').value.trim();

    if (title === '' || date === ''){
      swal(
        'Oops´...',
        'Faltan completar campos obligatorios!',
        'error'    );
      return false;
    }else{
      $('.form-control').val('');
      swal({
        title: "Buen trabajo!",
        text: "Su registro fue creado con éxito!",
        icon: "success",
        buttons: "Cerrar!"
      });
    }
  }
</script>
{% endblock %}
