{% extends "layout.njk" %}
{% block title %}Impresión de Lista de Invitados{% endblock %}
{% block content %}
<div>
  <div class="container print">

    <section>

      <div class="heading heading-sm text-uppercase">
        <a href="dashboard.html">EVENTOS</a> / <a href="list-view.html">RODRIGO DP & KNOWBRUo <small class="text-dark">09/06/2018</small> / </a> Invitados
      </div>

      <div class="row ">

        <div class="col-12">

          <div class="media border border-dark mb-4">
            <div class="p-4 mr-3 border border-right">
              <i class="fas fa-fw fa-5x fa-glass-martini-alt"></i>
            </div>
            <div class="media-body py-2">
              <div class="">09/06/2018 | RODRIGO DP & KNOWBRUo</div>
              <h3 class="text-uppercase my-0 py-2 ">Lista de Previas</h3>
              <h5 class="font-weight-bold text-dark text-uppercase ">Owner de la lista</h5>
            </div>
          </div>

          <h1 class="text-uppercase py-3">Mujeres</h1>
          <table class="table table-bordered table-sm mb-5">
            <caption>Fin lista mujeres</caption>
            <thead>
              <tr>
                <th scope="col">DNI</th>
                <th scope="col">Invitado</th>
                <th scope="col">Usuario</th>
                <th scope="col">Sex</th>
                <th scope="col" width="50">Ctrl</th>
              </tr>
            </thead>
            <tbody>
            {% for i in range(1, 180) %}
            {% if i == 90 %}
            </tbody>
            </table>
            <div class="salto"></div>
            <hr class="my-5">
            <div class="media border border-dark mb-4">
              <div class="p-4 mr-3 border border-right">
                <i class="fas fa-fw fa-5x fa-glass-martini-alt"></i>
              </div>
              <div class="media-body py-2">
                <div class="">09/06/2018 | RODRIGO DP & KNOWBRUo</div>
                <h3 class="text-uppercase my-0 py-2 ">Lista de Previas</h3>
                <h5 class="font-weight-bold text-dark text-uppercase ">Owner de la lista</h5>
              </div>
            </div>
            <h1 class="text-uppercase py-3">Hombres</h1>
            <table class="table table-bordered table-sm mb-5">
              <caption>Fin lista hombres</caption>
              <thead>
                <tr>
                  <th scope="col">DNI</th>
                  <th scope="col">Invitado</th>
                  <th scope="col">Usuario</th>
                  <th scope="col">Sex</th>
                  <th scope="col" width="50">Ctrl</th>
                </tr>
              </thead>
              <tbody>
              {% endif %}
                <tr>
                  <td>{{ i }}12345678</td>
                  <td>invitado{{ i }}</td>
                  <td>usuario{{ i }}</td>
                  <td>{% if i < 90 %}F{% else %}M{% endif %}</td>
                  <td></td>
                </tr>
              {% endfor %}

            </tbody>

          </table>

          <div class="salto"></div>

          {% include "partials/print-grid.njk" %}

          <div class="mt-5">
            <a href="list-guests.html" class="btn btn-lg btn-info">Volver</a>
            <a href="#" onclick="printList()"  class="btn btn-lg btn-info float-right">Imprimir lista</a>
          </div>

        </div>
      </div>
    </section>

  </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">

  $(document).ready(function() {
    window.print();
  });

  function printList() {
      window.print();
  }

</script>
{% endblock %}
