<!-- index.njk -->
{% extends "layout.njk" %}

{% block content %}
<div>
  <div class="container">

    <div class="heading heading-lg heading-border-bottom">
      Listas
    </div>

    <section class="panel">

      <div class="heading heading-sm text-uppercase">
        <a href="dashboard.html">EVENTOS /</a> RODRIGO DP & KNOWBRUo <small class="text-info">09/06/2018</small> /
      </div>

      <div class="row ">

        <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
          <div class="card">
            <div class="card-header bg-info"></div>
            <a href="list-guests.html" class="card-btn">
              <div class="card-body card-body-sm">
                <div class="card-date"></div>
                <div class="card-title font-weight-bold text-uppercase text-center">Invitados</div>
                <div class="card-list">
                  Invitados <span class="badge badge-info">20</span>
                </div>
              </div>
            </a>
            <div class="card-footer bg-info text-center text-light">
              <a href="list-update.html" class="text-white">editar lista</a>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
          <div class="card">
            <div class="card-header bg-info"></div>
            <a href="list-guests.html" class="card-btn">
              <div class="card-body card-body-sm">
                <div class="card-date"></div>
                <div class="card-title font-weight-bold text-uppercase text-center">Previa</div>
                <div class="card-list">
                  Invitados <span class="badge badge-info">20</span>
                </div>
              </div>
            </a>
            <div class="card-footer bg-info text-center text-light">
              <a href="list-update.html" class="text-white">editar lista</a>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
          <div class="card bg-info text-white">
            <div class="card-header"></div>
            <a href="list-create.html" class="btn-block">
              <div class="card-body card-body-sm">
                <div class=""></div>
                <div class="text-white">
                  <i class="fas fa-3x fa-plus"></i>
                </div>
                <div class=""></div>
              </div>
            </a>
            <div class="card-footer text-center">
              crear lista
            </div>
          </div>
        </div>

      </div>

    </section>

  </div>
</div>
{% endblock %}
