<!-- index.njk -->
{% extends "layout.njk" %}

{% block content %}
<div>
  <div class="container">

    <div class="heading heading-lg heading-border">
      Listas
    </div>

    <section class="panel">

      <div class="heading heading-sm heading-uppercase bg-info text-light text-center">
       Sábado 9 de Junio de 2018
      </div>

      <div class="row ">

        <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
          <a href="list-guests.html" class="btn-block">
            <div class="card">
              <div class="card-header"></div>
              <div class="card-body card-body-sm">
                <h4 class="card-text card-title">
                  Titulo de la lista
                </h4>
                <div class="card-text card-list">
                  Invitados <span class="badge badge-info">20</span>
                </div>
              </div>
              <div class="card-footer"></div>
            </div>
          </a>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
          <a href="list-guests.html" class="btn-block">
            <div class="card">
              <div class="card-header"></div>
              <div class="card-body card-body-sm">
                <h4 class="card-text card-title">
                  Titulo de la lista
                </h4>
                <div class="card-text card-list">
                  Invitados <span class="badge badge-info">20</span>
                </div>
              </div>
              <div class="card-footer"></div>
            </div>
          </a>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
          <a href="list-add.html" class="btn-block">
            <div class="card">
              <div class="card-header"></div>
              <div class="card-body card-body-sm">
                <h4 class="card-text card-title">
                  Titulo de la lista
                </h4>
                <div class="card-text card-list">
                  Invitados <span class="badge badge-info">50</span>
                </div>
              </div>
              <div class="card-footer"></div>
            </div>
          </a>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
          <a href="list-add.html" class="btn-block">
            <div class="card bg-info text-white">
              <div class="card-header"></div>
              <div class="card-body card-body-sm">
                <i class="fas fa-3x fa-plus"></i>
              </div>
              <div class="card-footer"></div>
            </div>
          </a>
        </div>

      </div>

    </section>
    <hr>
    <div class="">
      <a href="dashboard.html" class="btn btn-info"><i class="fas fa-angle-left"></i> volver</a>
    </div>
  </div>
</div>
{% endblock %}
