<div class="col-12 col-sm-6 col-lg-4 col-xl-3">
	<div class="card">
		<div class="card-header bg-warning"></div>
		<a href="entry-control.html" class="card-btn">
			<div class="card-body card-body-lg">
				<div class="card-date text-uppercase">Lista de Invitados</div>
				<div class="card-title font-weight-bold text-uppercase text-center px-2">Gallery</div>
				<div class="card-list">
					Ingresos <span class="badge badge-warning">105 de 150</span>
				</div>
			</div>
		</a>
		<div class="card-footer bg-warning text-center text-light"></div>
	</div>
</div>

<div class="col-12 col-sm-6 col-lg-4 col-xl-3">
	<div class="card">
		<div class="card-header bg-warning"></div>
		<a href="entry-control.html" class="card-btn">
			<div class="card-body card-body-lg">
				<div class="card-date text-uppercase">Lista de Invitados</div>
				<div class="card-title font-weight-bold text-uppercase text-center px-2">Orange</div>
				<div class="card-list">
					Ingresos <span class="badge badge-warning">78 de 120</span>
				</div>
			</div>
		</a>
		<div class="card-footer bg-warning text-center text-light"></div>
	</div>
</div>

<div class="col-12 col-sm-6 col-lg-4 col-xl-3">
	<div class="card">
		<div class="card-header bg-warning"></div>
		<a href="entry-control.html" class="card-btn">
			<div class="card-body card-body-lg">
				<div class="card-date text-uppercase">Lista de Invitados</div>
				<div class="card-title font-weight-bold text-uppercase text-center px-2">Ex</div>
				<div class="card-list">
					Ingresos <span class="badge badge-warning">37 de 85</span>
				</div>
			</div>
		</a>
		<div class="card-footer bg-warning text-center text-light"></div>
	</div>
</div>
