<div class="heading heading-sm mb-0">
	<div class="d-flex flex-column flex-sm-row flex-nowrap">
		<div class="order-sm-2 pb-2"><a href="dashboard.html" class="btn btn-sm btn-light text-uppercase">Volver</a></div>
		<div class="order-sm-1 flex-grow-1"><span class="bg-danger text-white text-uppercase px-1">CONTROL</span></div>
	</div>
</div>
