<div class="col-12 col-sm-6 col-lg-4 col-xl-3">
	<div class="card">
		<div class="card-header bg-primary"></div>
		<a href="list-view.html" class="card-btn">
			<div class="card-body card-body-lg">
				<div class="card-date">
					07/09/2018
				</div>
				<div class="card-title font-weight-bold text-uppercase text-center p-1">Cdp CLUB</div>
				<div class="card-list">
					Listas creadas <span class="badge badge-primary">2</span>
				</div>
			</div>
		</a>
		<div class="card-footer bg-primary text-center text-light">
			<a href="event-update.html" class="text-white">editar evento</a>
		</div>
	</div>
</div>

<div class="col-12 col-sm-6 col-lg-4 col-xl-3">
	<div class="card">
		<div class="card-header bg-primary"></div>
		<a href="list-view.html" class="card-btn">
			<div class="card-body card-body-lg">
				<div class="card-date">
					31/08/2018
				</div>
				<div class="card-title font-weight-bold text-uppercase text-center p-1">Luis Miguel - No se tu pero yo</div>
				<div class="card-list">
					Listas creadas <span class="badge badge-primary">4</span>
				</div>
			</div>
		</a>
		<div class="card-footer bg-primary text-center text-light">
			<a href="event-update.html" class="text-white">editar evento</a>
		</div>
	</div>
</div>
