<div class="col-12 col-sm-6 col-lg-4 col-xl-3">
	<div class="card">
		<div class="card-header bg-info"></div>
		<a href="list-guests.html" class="card-btn">
			<div class="card-body card-body-lg">
				<div class="card-date text-uppercase">Lista de Invitados</div>
				<div class="card-title font-weight-bold text-uppercase text-center px-2">Gallery</div>
				<div class="card-list">
					Invitados <span class="badge badge-info">105 de 150</span>
				</div>
			</div>
		</a>
		<div class="card-footer bg-info text-center text-light">
			<a href="list-update.html" class="text-white">editar lista</a>
		</div>
	</div>
</div>

<div class="col-12 col-sm-6 col-lg-4 col-xl-3">
	<div class="card">
		<div class="card-header bg-info"></div>
		<a href="list-guests.html" class="card-btn">
			<div class="card-body card-body-lg">
				<div class="card-date text-uppercase">Lista de Invitados</div>
				<div class="card-title font-weight-bold text-uppercase text-center px-2">Orange</div>
				<div class="card-list">
					Invitados <span class="badge badge-info">78 de 150</span>
				</div>
			</div>
		</a>
		<div class="card-footer bg-info text-center text-light">
			<a href="list-update.html" class="text-white">editar lista</a>
		</div>
	</div>
</div>

<div class="col-12 col-sm-6 col-lg-4 col-xl-3">
	<div class="card">
		<div class="card-header bg-info"></div>
		<a href="list-guests.html" class="card-btn">
			<div class="card-body card-body-lg">
				<div class="card-date text-uppercase">Lista de Invitados</div>
				<div class="card-title font-weight-bold text-uppercase text-center px-2">Ex</div>
				<div class="card-list">
					Invitados <span class="badge badge-info">37 de 150</span>
				</div>
			</div>
		</a>
		<div class="card-footer bg-info text-center text-light">
			<a href="list-update.html" class="text-white">editar lista</a>
		</div>
	</div>
</div>
