<hr class="mb-5">
<div class="media border border-dark mb-4 mt-5">
	<div class="p-4 mr-3 border border-right">
		<i class="fas fa-fw fa-5x fa-glass-martini-alt"></i>
	</div>
	<div class="media-body py-2">
		<div class="">09/06/2018 | RODRIGO DP & KNOWBRUo</div>
		<h3 class="text-uppercase my-0 py-2 ">Lista de Previas</h3>
		<h5 class="font-weight-bold text-dark text-uppercase ">Owner de la lista</h5>
	</div>
</div>

<div class="d-block">
  <div class="row">

    <div class="col-6">
      <div class="card border border-dark rounded-0 mb-5">
        <div class="card-header border border-top-0 border-right-0 border-left-0 border-dark">
          <h5 class="mb-0">PREVIAS</h5>
        </div>
        <div class="card-body px-4 text-center">
          <div class="row">
            <div class="col-2 border border-top-0 border-right-0 border-left-0 border-dark py-3"></div>
            <div class="col-2 pt-4 pb-1">x</div>
            <div class="col-2 border border-top-0 border-right-0 border-left-0 border-dark py-3"></div>
            <div class="col-2 pt-4 pb-1">=</div>
            <div class="col-4 border border-top-0 border-right-0 border-left-0 border-dark py-3"></div>
          </div>
          <div class="row">
            <div class="col-2 border border-top-0 border-right-0 border-left-0 border-dark py-3"></div>
            <div class="col-2 pt-4 pb-1">x</div>
            <div class="col-2 border border-top-0 border-right-0 border-left-0 border-dark py-3"></div>
            <div class="col-2 pt-4 pb-1">=</div>
            <div class="col-4 border border-top-0 border-right-0 border-left-0 border-dark py-3"></div>
          </div>
          <div class="row">
            <div class="col-2"></div>
            <div class="col-4 pt-4 pb-1 pr-0 text-right font-weight-bold"><h5>TOTAL 1</h5></div>
            <div class="col-2 pt-4 pb-1">$</div>
            <div class="col-4 border border-top-0 border-right-0 border-left-0 border-dark py-3"></div>
          </div>
        </div>
      </div>
      <div class="card border border-dark rounded-0">
        <div class="card-header border border-top-0 border-right-0 border-left-0 border-dark">
          <h5 class="mb-0">MONTO A PAGARLE A LAS BARRAS</h5>
        </div>
        <div class="card-body px-4 text-center mt-3">
          <div class="row">
            <div class="col-3 pt-4 pb-1 px-0 font-weight-bold text-uppercase"><h5>Total 1</h5></div>
            <div class="col-1 pt-4 pb-1 px-0 font-weight-bold text-uppercase"><h5>-</h5></div>
            <div class="col-3 pt-4 pb-1 px-0 font-weight-bold text-uppercase"><h5>Total 2</h5></div>
            <div class="col-1 pt-4 pb-1">=</div>
            <div class="col-4 border border-top-0 border-right-0 border-left-0 border-dark py-3"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="card border border-dark rounded-0 pb-1">
        <div class="card-header border border-top-0 border-right-0 border-left-0 border-dark">
          <h5 class="mb-0">EXCEDENTES</h5>
        </div>
        <div class="card-body px-4 text-center">
          <div class="row">
            <div class="col-2 border border-top-0 border-right-0 border-left-0 border-dark py-3"></div>
            <div class="col-2 pt-4 pb-1">x</div>
            <div class="col-2 border border-top-0 border-right-0 border-left-0 border-dark py-3"></div>
            <div class="col-2 pt-4 pb-1">=</div>
            <div class="col-4 border border-top-0 border-right-0 border-left-0 border-dark py-3"></div>
          </div>
          <div class="row">
            <div class="col-2 border border-top-0 border-right-0 border-left-0 border-dark py-3"></div>
            <div class="col-2 pt-4 pb-1">x</div>
            <div class="col-2 border border-top-0 border-right-0 border-left-0 border-dark py-3"></div>
            <div class="col-2 pt-4 pb-1">=</div>
            <div class="col-4 border border-top-0 border-right-0 border-left-0 border-dark py-3"></div>
          </div>
          <div class="row">
            <div class="col-2"></div>
            <div class="col-4 pt-4 pb-1 pr-0 text-right font-weight-bold"><h5>Total</h5></div>
            <div class="col-2 pt-4 pb-1">$</div>
            <div class="col-4 border border-top-0 border-right-0 border-left-0 border-dark py-3"></div>
          </div>
          <hr>
          <div class="row">
            <div class="col-2"></div>
            <div class="col-4 pt-4 pb-1 pr-0 text-right font-weight-bold"><h5>Hielo</h5></div>
            <div class="col-2 pt-4 pb-1">$</div>
            <div class="col-4 border border-top-0 border-right-0 border-left-0 border-dark py-3"></div>
          </div>
          <div class="row">
            <div class="col-2"></div>
            <div class="col-4 pt-4 pb-1 pr-0 text-right font-weight-bold"><h5>Vajilla</h5></div>
            <div class="col-2 pt-4 pb-1">$</div>
            <div class="col-4 border border-top-0 border-right-0 border-left-0 border-dark py-3"></div>
          </div>
          <div class="row">
            <div class="col-2"></div>
            <div class="col-4 pt-4 pb-1 pr-0 text-right font-weight-bold"><h5>TOTAL 2</h5></div>
            <div class="col-2 pt-4 pb-1">$</div>
            <div class="col-4 border border-top-0 border-right-0 border-left-0 border-dark py-3"></div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
