<div class="mb-5 mt-5">
	<div class="row">

		<div class="col-4">
			<div class="border border-dark p-2">
				<h5 class="mb-3 font-weight-bold">PREVIA</h5>
				<table class="table table-sm table-borderless text-center">
					<tbody>
						<hr>
						<tr class="mt-4">
							<td>_________</td>
							<td>x</td>
							<td>_________</td>
							<td>=</td>
							<td>_________</td>
						</tr>
						<tr class="mt-4">
							<td>_________</td>
							<td>x</td>
							<td>_________</td>
							<td>=</td>
							<td>_________</td>
						</tr>
						<tr class="mt-4">
							<td></td>
							<td></td>
							<td><b>Total 1</b></td>
							<td></td>
							<td>_________</td>
						</tr>
					</tbody>
				</table>
		</div>
	</div>

		<div class="col-4">
			<div class="border border-dark p-2">
				<h5 class="mb-3 font-weight-bold">EXCEDENTES</h5>
				<table class="table table-sm table-borderless text-center">
					<tbody>
						<hr>
						<tr class="mt-4">
							<td>_________</td>
							<td>x</td>
							<td>_________</td>
							<td>=</td>
							<td>_________</td>
						</tr>
						<tr class="mt-4">
							<td>_________</td>
							<td>x</td>
							<td>_________</td>
							<td>=</td>
							<td>_________</td>
						</tr>
						<tr class="mt-4">
							<td></td>
							<td></td>
							<td>Subtotal</td>
							<td>$</td>
							<td>_________</td>
						</tr>
						<tr class="mt-5">
							<td></td>
							<td></td>
							<td>Hielo</td>
							<td>$</td>
							<td>_________</td>
						</tr>
						<tr class="mt-4">
							<td></td>
							<td></td>
							<td>Vajilla</td>
							<td>$</td>
							<td>_________</td>
						</tr>
						<tr class="mt-4">
							<td></td>
							<td></td>
							<td><b>Total 2</b></td>
							<td>$</td>
							<td>_________</td>
						</tr>
					</tbody>
				</table>
		</div>
	</div>

	<div class="col-4">
		<div class="border border-dark p-2 mb-5">
			<h5 class="mb-3 font-weight-bold">TOTAL A PAGARLE A LA BARRA</h5>
			<table class="table table-sm table-borderless text-center">
				<tbody>
					<hr>
					<tr class="mt-4">
						<td><b>Total 1</b></td>
						<td>$</td>
						<td>_________</td>
					</tr>
					<tr class="mt-4">
						<td><b>Total 2</b></td>
						<td>$</td>
						<td>_________</td>
					</tr>
				</tbody>
			</table>
		</div>

		<table class="table table-borderless text-center pt-5">
			<tbody>
				<tr class="mt-4">
					<td><b>TOTAL</b></td>
					<td>___________________</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
