<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" charset="utf-8"></script>
<!--build:js js/main.min.js -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/sweetalert.min.js"></script>
<script src="js/jquery.dataTables.min.js" charset="utf-8"></script>
<script src="js/dataTables.bootstrap4.js" charset="utf-8"></script>
<script src="js/jquery.countdown.min.js" charset="utf-8"></script>
<script src="js/chartist.min.js" charset="utf-8"></script>
<script src="js/chartist-plugin-threshold.js" charset="utf-8"></script>
<script src="js/chartist-plugin-tooltip.js" charset="utf-8"></script>
<script src="js/main.js"></script>
<!-- endbuild -->
