<!-- layout.njk -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Admin Frontend v.1.0.0</title>

  {% include "partials/css.njk" %}

</head>
<body class="gg-splash-screen">

  {% block content %}{% endblock %}

  {% include "partials/scripts.njk" %}

  {% block js %}{% endblock %}

</body>
</html>
